.desk {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.main {
    display: flex;
    flex-direction: column;
}

.chess {
    display: flex;
    background-color: #000000;
    border: 1px solid #000000;
}