.knight {
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url("../../assets/images/knight.png") !important;
    background-size: contain !important;
    pointer-events: none;
    transition: all .5s ease-in-out;
}